<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yard Works | Submit</title>

    <!-- bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Calender picker -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    
    <!-- my css, delete the 'now U' tag on deployment, it reloads css each refresh --> 
    <link rel="stylesheet" href="{% static "css/sheet_submission_form.css" %}?{% now "U" %}"> 
</head>
<body>
    <!-- Title -->
    <h1>Equipment Sheet Submission</h1>

    <!-- Sheet Submission Section -->
    <div class="equipment-section sheet-form add_after_me">
        <!-- Form -->
        <form method="post" class="forms" enctype="multipart/form-data" name="form1">
            {% csrf_token %}
            <table>
                <tr>
                    <td class="name-week-col full-width">
                        <div class="up">
                            <label class="submission_label up">
                                Your Name
                            </label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name">
                        </div>
                    </td>    
                    <td>
                        <label class="submission_label">
                            Week of Records
                        </label>
                        <!-- Calendar Dropdown/ Week Picker -->
                        <div class="container center-items">    
                            <div class="row center-items">
                                <div class="col-sm-6 form-group full-width center-items">
                                    <div class="input-group center-items" id="DateDemo">
                                      <input type='text' id='weeklyDatePicker' class="form-control weekly-picker" placeholder="Select Week" />
                                  </div>
                              </div>
                          </div>
                        </div>
                    </td>
                    <td>  
                        <label for="{{form.equipment.id_for_label}}" class="submission_label vertical-center ">
                            Enter Equipment ID : {{form.equipment}}
                        </label>
                        <label for="{{form.image.id_for_label}}" class="submission_label vertical-center">
                            {{form.image}}
                        </label>
                    </td>
                    <td>
                        <button class='btn remove-section btn-circle remover' onclick='removeSection(this)' disabled>Remove</button>  
                    </td>
                </tr>
            </table>        
        </form>
    </div>
    <input type="button" class="btn btn-circle submit-button " value="Submit" onclick="submitForms()">
    <button class="btn btn-circle add-section " onclick="addSection()">New Vehicle</button>

    <script src="{% static "js/SheetSubmissionFunctions.js" %}"></script>
    <script src="{% static "js/PickWeek.js" %}"></script>
    <script>calender();</script>
</body>
</html>